# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

# **Objectives**:

- List popular languages for Data Science
- List the commonly used libraries used
- Examples of evaluating arithmetic expressions

1. python 
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn

|Data Science Tools|
|------------------|
|Jupytor Notebook  |
| VS Code |
|GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [18]:
200/60

3.3333333333333335

## Author

Haya Saud Alrusais